/* Custom CSS stylesheet */

.navbar {
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
}

.content {
  max-width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
  align-items: left;
  gap: 20px;
}

.floated {
}

.iframe {
    width: 1280px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.image-left {
  float: left;
  margin-right: 15px;
}

.image-right {
  float: right;
  margin-left: 15px;
}

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}

a {
}

body {
  background-color: #F8F6F2;
  font-family: verdana;
}

h1 {
  font-size: 18px;
  font-style: bold;
}

p {
  font-size: 14px;
  text-align: left;
}

ul,ol {
  font-size: 14px;
  text-align: left;
}