<footer>
  <!-- Footer Navigation Bar -->
  <div class="pt-4 bg-main-color text-white"></div>

  <!-- Second Footer Section -->

  <div class="container mt-2 pb-1 bg-white">
    <span class="copyright">
      <div class="row">
		    <p class="mt-1 mb-0 text-center" style="font-size:12px">{{ replace .Site.Params.Footer.Copyright "{year}" now.Year }}</p>
      </div>
    </span>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" async></script>

<!-- Header Image JS -->
<script src="{{ "js/header-image.js" | relURL }}"></script>

<!-- Masonry JS -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<!-- FancyBox JS -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js" async></script>
