<div>
<head>
    <style>
        figcaption {
            font-style: italic;
            font-size: 9px;
            color: #FFF;
            text-shadow: 0.7px 0.7px 1px #333;
            position: relative;
            bottom: 16px;
        }
    </style>
</head>
<body>
    {{ $imagealign := .Get "image-align" }}
    {{ $textalign := .Get "text-align" | default "left" }}
    {{ $src := .Get "src" }}
    {{ $alt := .Get "alt" }}
    {{ $caption := .Get "caption" }}
    {{ $captionalign := .Get "caption-align" }}
    {{ $width := .Get "width" | default "200" }}
    
  <div style="float:{{ $imagealign }}">
      <img class="img-browser img-phone img-tablet" src="{{ $src }}" alt="{{ $alt }}" width="{{ $width }}">
            {{ if $caption }}
                <figcaption style="left:{{ $captionalign }}">{{ $caption }}</figcaption>
            {{ end }}
  </div>
  
  <div text-align="{{ $textalign }}">
    <p>
    {{ .Inner }}
    </p>
  </div>

</body>
</div>